﻿@model EmployeeWebApp.Models.Employee;
@{
    ViewData["Title"] = "Delete";
}

<h2>Delete employee</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete">
            <label class="control-label">Are you sure to delete? </label>
            &nbsp; 
            <input asp-for="_id" class="form-control" />
            &nbsp;
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>