﻿@model EmployeeWebApp.Models.Employee
@{
    ViewData["Title"] = "Employees by department";
}

<h2>Deleting an Employee</h2>
<form asp-action="Delete">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="_id" class="control-label"></label>
        <input asp-for="_id" class="form-control" />
        <span asp-validation-for="_id" class="text-danger"></span>
    </div>
    Are you sure to remove this employee??
    <div>
        <input type="submit" value="Yes" class="btn btn-default" />
    </div>
</form>

<div>
    &nbsp;
    &nbsp;
</div>

<div>
     <a asp-action="Index">HomePage</a>
</div>
