﻿@model IEnumerable<EmployeeWebApp.Models.Employee>
@{
    ViewData["Title"] = "HOME PAGE";
}
<h2>Department</h2>
<table class="table table-bordered" style="width:600px">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model._id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.designation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.department_id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.salary)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item._id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.designation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.department_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.salary)
                    </td>
                </tr>
            }
        </tbody>
    </table>
<div>
    <a asp-action="GetbyDeptId">Back</a>
    <a asp-action="Index">HomePage</a>
</div>

