﻿@model EmployeeWebApp.Models.Employee
@{
    ViewData["Title"] = "Editing an employee";
}

<h2>Editing an employee</h2>
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="_id" class="control-label"></label>
        <input asp-for="_id" class="form-control" />
        <span asp-validation-for="_id" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="name" class="control-label"></label>
        <input asp-for="name" class="form-control" />
        <span asp-validation-for="name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="designation" class="control-label"></label>
        <input asp-for="designation" class="form-control" />
        <span asp-validation-for="designation" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="department_id" class="control-label"></label>
        <input asp-for="department_id" class="form-control" />
        <span asp-validation-for="department_id" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="salary" class="control-label"></label>
        <input asp-for="salary" class="form-control" />
        <span asp-validation-for="salary" class="text-danger"></span>
    </div>
    &nbsp;
    <div class="form-group">
        <input type="submit" value="Save changes" class="btn btn-default" />
    </div>
</form>

<div>
    &nbsp;
    &nbsp;
</div>

<div>
     <a asp-action="Index">HomePage</a>
</div>
