﻿@model EmployeeWebApp.Models.Employee
@{
    ViewData["Title"] = "HOME PAGE";
}
<h2>Employee Database</h2>
<p>
    <a asp-action="AddEmp"> Add new employee </a> &nbsp;
    <a asp-action="Viewall">View All Employees </a> &nbsp;
    <a asp-action="EditById">Edit employee</a> &nbsp;
    <a asp-action="Delete">Delete Employee</a> &nbsp;
    <a asp-action="GetbyDeptId">Employees By Department</a>
    
</p>

